
<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img src="/assets/img/Erick.jpg" class="card-img-top rounded-circle w-75" alt="Imagem do criador deste conteudo">
    </div>

    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Erick Neves</h5>
      <p class="card-text text-left">Sou um entusiasta com mentalidade lógica, criativa e dinâmica para resolução de problemas, nerd, possuo interesse em tecnologia e troca de conhecimentos.</p>
      <p class="card-text text-left">Apaixonado por desenho, simetria e detalhes.</p>
      <p class="card-text text-left">Amo o que faço e me sinto realizado durante o processo de criação e desenvolvimento de algo novo.</p>
      <a href="https://www.linkedin.com/in/erick-neves-aba959151/" class="btn btn-outline-info mb-2 d-flex justify-content-center" target="_blank">LinkedIn</a>
      <a href="https://github.com/Erick-Neves" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>
    </div>
</div>